Flask
gunicorn
requests
chromadb==0.4.24
pydantic
openai
tenacity
python-dotenv
PyYAML
numpy==1.26.4
vertexai>=1.64.0
google-cloud-firestore>=2.12.0
google-cloud-storage>=2.13.0
google-cloud-logging>=3.10.0
