Flask
gunicorn
requests
chromadb==0.4.24
pydantic
openai
tenacity
python-dotenv
PyYAML
numpy==1.26.4
vertexai>=1.64.0
google-cloud-firestore>=2.12.0
google-cloud-storage>=2.13.0
google-cloud-logging>=3.10.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1
google-api-python-client>=2.100.0
umap-learn>=0.5.5
hdbscan>=0.8.33
matplotlib>=3.8.0
seaborn>=0.13.0
plotly>=5.24.0
